footer {
  width: 100%;
  padding: 2rem;

  hr {
    margin-bottom: 1rem;
  }

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > div:last-child {
      justify-self: end;
    }
  }

  a {
    display: block;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 768px) {
    padding: 2.5rem 4rem 3rem;
  }
}
