@use 'variables' as *;

.newsletter-wrapper {
  position: fixed;
  top: 500px;
  left: 12px;
  display: flex;
  z-index: 1000;
}

.popup-trigger {
  width: 33px;       
  height: 33px;
  background: none;
    border: none;
     padding: 0;
    display: block;
    cursor: pointer;
    z-index: 2;
}

.popup-trigger img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup-bubble {


position: absolute;
width: 322px;
min-height: 151px;
bottom: 60px;
left: 40px;

background-color: var(--color-yellow);
border-radius: 30px;
border: none;
z-index: 100;
box-sizing: border-box;
display: none;
flex-direction: column;
align-items: center;
text-align: center;
}

.popup-bubble::after {
content: "";
position: absolute;
bottom: -40px;
left: 7px;
border-width: 50px 50px 0 0;
border-style: solid;
border-color: var(--color-yellow) transparent transparent transparent;
transform: rotate(15deg);
z-index: -1;
}

.popup-bubble h2 {
font-size: 1rem;
color: black;
font-weight: 900;
padding: 10px;
}


.close-btn {
position: absolute;
top: 3px;
right: 22px;
background: none;
border: none;
cursor: pointer;
color: var(--color-white);
width: 14px;
height: 13px;
}

.popup-bubble label {
font-family: nunito, sans-serif;
display: block;
font-size: 0.75rem;
font-weight: 400;
color: black;
text-align: center;
text-transform: uppercase;
padding-bottom: 10px;

}

.popup-bubble input {
    display: block;
width: 100%;
    max-width: 259px;
    height: 25px;
    border-radius: 30px;
    border: none;
    padding: 10px 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    box-sizing: border-box;
     margin: 0 auto 15px;
}

.popup-bubble .submit-btn {
  background-color: var(--color-lilac);
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100px;
height: 32px;
   display: flex;
  align-items: center;
  justify-content: center;
  font-size:0.875rem;
  margin: 0 auto;

}


@media (min-width: 765px) {
.newsletter-wrapper {
  top: 800px;
  left: 22px;

}
.popup-trigger {
  width: 62px;       
  height: 62px;
  background: none;
  border: none;
}

.popup-trigger img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.popup-bubble {
width: 426px;
min-height: 192px;
bottom: 100px;
left: 55px;
}

.popup-bubble h2 {
font-size: 1.5rem;
padding: 10px;
}

.close-btn {
width: 23px;
height: 23px;
}

.popup-bubble label {
font-size: 0.875rem;
}
.popup-bubble input {

width: 100%;
max-width: 253px;
height: 37px;
}

.popup-bubble .submit-btn {
 width: 120px;
height: 40px;
font-size:1.375rem;
}
}


