:root {
    /*Colors*/
    --color-dark-blue: #021C51;
    --color-text-grey: #D9E1EA;
    --preorder-popup: #2B3058;
    --color-pink: #e5bbdd; /* 10% opacity of #E5BBDD bg och 100% hover text */
    --color-blue: #46C4DD;
    --color-green: #87D8BC;
    --color-yellow: #F3BB6F;
    --color-lilac: #8691FB; 
    --color-red: #F28080;
    --color-white: #FFFFFF;

    /*Fonts*/
    --font-family: 'Nunito', sans-serif;
    --font-weight-black: 900;
    --font-weight-semibold: 600;
}
 