:root {
  /*Colors*/
  --color-dark-blue: #021c51;
  --color-text-grey: #d9e1ea;
  --preorder-popup: #2b3058;
  --color-pink: #e5bbdd; /* 10% opacity of #E5BBDD bg och 100% hover text */
  --color-blue: #46c4dd;
  --color-green: #87d8bc;
  --color-yellow: #f3bb6f;
  --color-lilac: #8691fb;
  --color-red: #f28080;
  --color-white: #ffffff;

  /*Fonts*/
  --font-family: 'Nunito', sans-serif;
  --font-weight-black: 900;
  --font-weight-semibold: 600;
}
