@use 'variables' as *;
@use 'nav';
@use 'hero';
@use 'footer';
@use 'aboutUs';
@use 'cookies';
@use 'newsletter';
@use 'preorderPopup';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

main,
footer {
  background-color: var(--color-dark-blue);
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: var(--font-weight-black);
}

p {
  color: var(--color-text-grey);
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

input {
  padding: 10px;
  border-radius: 30px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
}

.about-us,
.footer-wrapper,
hr {
  max-width: 1440px;
  margin: 0 auto;
}

.hidden {
  display: none;
}